name: portfolio-${ENVIRONMENT:-dev}
services:
  portfolio:
    container_name: portfolio-${ENVIRONMENT:-dev}
    image: ${REGISTRY_IMAGE}
    environment:
      - NUXT_PUBLIC_ENVIRONMENT=${ENVIRONMENT:-dev}
      - NUXT_MONGO_URI=${MONGO_URI}
      - NUXT_PUBLIC_CDN_URL=${CDN_URL}
    restart: always
    pull_policy: always
    ports:
      - ${PORT}:3000
    depends_on:
      - portfolio-db
  
  portfolio-db:
    container_name: portfolio-db-${ENVIRONMENT:-dev}
    image: mongo:7.0.28
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_EXPORT_OUTPUT: /usr/share/output
    ports:
      - ${PORT_DB:-27018}:27017
    volumes:
      - ${VOLUME_DIR}/data:/data/db
      - ${VOLUME_DIR}/output:/usr/share/output

