name: portfolio-${ENVIRONMENT:-dev}
services:
  portfolio:
    container_name: portfolio-${ENVIRONMENT:-dev}
    image: ${REGISTRY_IMAGE}
    environment:
      - NUXT_PUBLIC_ENVIRONMENT=${ENVIRONMENT:-dev}
      - NUXT_MONGO_URI=${MONGO_URI}
      - NUXT_PUBLIC_CDN_URL=${CDN_URL}
    restart: always
    pull_policy: always
    ports:
      - ${PORT}:3000


networks:
  default:
    external: true
    name: nginx-network
